<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:text="${list}"></div>
  <div th:text="${map}"></div>
  <div th:text="${dto}"></div>
  <!-- dto는 주소값이 출력됨  -->
<!--  [Data1, Data2, Data3, Data4, Data5, Data6, Data7, Data8, Data9]-->
<!--  {A=AAAA, B=BBBB}-->
<!--  org.zerock.b01.controller.SampleController$SampleDTO@7ae3b0f8-->

  <script th:inline="javascript">
    const list = [[${list}]]
    const map = [[${map}]]
    const dto = [[${dto}]]

    console.log(list)
    console.log(map)
    console.log(dto)
  //   스크립트에서는 모두 제대로된 값들이 출력됨
  </script>

</body>
</html>