<?xml version="1.0" encoding="UTF-8" ?>

<configuration status="INFO">
    <Appenders>
        <!-- 콘솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{hh:mm:ss} %5p [%c] %m%n" />
        </Console>
    </Appenders>

    <loggers>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <logger name="org.zerock" level="INFO" additivity="false">
            <appender-ref ref="console" />
        </logger>

        <!-- 매퍼의 패키지 로그가 TRACE 레벨로 기록하도록 코드 추가 -->
        <!-- SQL 출력 -->
        <logger name="org.zerock.springex.mapper" level="TRACE" additivity="false">
            <appender-ref ref="console" />
        </logger>


        <root level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </root>
    </loggers>

</configuration>